body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 84px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
   color: #11999E;
   font-weight: bold;
}

a {
  color: #11999E;
  text-decoration: none;
}

a:visited {
  color: #065446;
}

a:hover {
  color: #2bc4ad;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #dddddd;
  border-width: 6px;
  width: 4%;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  margin-top: 0;
  padding-top: 5px;
}

.middle-container {
  padding-top: 90px;
}

.bottom-container {
  background-color: #66BFBF;
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom: 40px;
}

.bottom-container p {
  margin-bottom: 0;
  color: #eaf6f6;
  padding-top: 25px;
  font-size: 13px;
}

.bottom-container a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: auto 20px auto 20px;
}

.bottom-container a:hover {
  color: #b2ebf2;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.a-programmer {
  font-weight: normal;
}

.topnav {
  background-color: #E4F9F5;
  overflow: hidden;
}

.topnav a {
  float: right;
  padding: 40px 30px;
  color: #11999E;
}

.topnav a:visited {
  color: #11999E;
}

.topnav a:hover {
  color: #2bc4ad;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.coding-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.room-decor-img {
  width: 30%;
  float: right;
  margin-left: 30px;
}

.profile {
  width: 40%;
  margin: auto auto 90px auto;
  line-height: 2;
}

.skills {
  padding-top: 45px;
  margin-top: 45px;
}

.contact-me {
  margin: 100px auto 80px auto;
}

.myButton {
	background-color:#66bfbf;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#30e3cb;
  color:#ffffff;
}
.myButton:active {
	position:relative;
	top:1px;
}

.coding-and-room-decor {
  margin: 40px auto 40px auto;
}

.contact-me p {
  margin-bottom: 60px;
}
